<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset=UTF-8>
		<META name="Author" content="Pawel Strzebonski">
		<META name="Description" content="Rusty Smart-RSS Web: A machine learning enhanced RSS feed manager.">
		<title>Rusty Smart-RSS Web</title>
		{# Hack to avoid reloading page on certain form submissions #}
		<style media="screen">
			iframe\{
			  display: none;
			}
			body\{
				background-color: lightcoral;
			}
		</style>
	</head>
	<body>
		<h1>
			RSS Items
		</h1>
		{# Box for adding in a new feed #}
		<FORM action="/nextpage" method="post">
			<button type="submit" name="action">Next Page</button>
		</FORM>
		{# List all RSS items #}
		<hr>
		{{for item in items}}
				(Score: {item.score}) - <b>{item.title}</b> - <i>{item.summary}</i>
				{# Bottons for interacting with item #}
				<form method="post" action="/">
					<INPUT type="hidden" id="url{@index}" name="url" value="{item.url}" >
					<button type="submit" name="action" formaction="/like" formtarget="frame">Like</button>
					<button type="submit" name="action" formaction="/dislike" formtarget="frame">Dislike</button>
					<button type="submit" name="action" formaction="/open" formtarget="_blank">Open</button>
				</form>
				<hr>
		{{ endfor}}
		{# Box for adding in a new feed #}
		<FORM action="/nextpage" method="post">
			<button type="submit" name="action">Next Page</button>
		</FORM>
		<h1>
			Settings
		</h1>
		<hr>
		{# Box for setting # of feeds per page #}
		<FORM action="/setitemnum" method="post">
			<P>
			<LABEL for="numitems"># of items per page: </LABEL>
			<INPUT type="number" id="numitems" name="num" value={limit}>
			<INPUT type="submit" value="Set" formtarget="_self"> <INPUT type="reset">
			</P>
		</FORM>
		<h2>
			Add a new feed:
		</h2>
		{# Box for adding in a new feed #}
		<FORM action="/add" method="post">
			<P>
			<LABEL for="urladd">Feed URL: </LABEL>
			<INPUT type="text" id="urladd" name="url">
			<LABEL for="numupdateinterval">Update interval (seconds): </LABEL>
			<INPUT type="number" id="numupdateinterval" name="num" value=3600>
			<INPUT type="submit" value="Add" formtarget="_self"> <INPUT type="reset">
			</P>
		</FORM>
		<h2>
			Remove a feed:
		</h2>
		{# Box for removing a feed #}		
		<FORM action="/remove" method="post">
		  <LABEL for="urlremove">Feed URL:</LABEL>
		  <SELECT id="urlremove" name="url">
			{{for feed in feeds}}
			<OPTION value="{feed.url}">{feed.url}</OPTION>
			{{endfor}}
		  </SELECT>
		  <INPUT type="submit" value="Remove" formtarget="_self">
		</FORM>
		<hr>
		<FORM action="/stop" method="post">
			<button type="submit" name="action">Quit (will terminate server)</button>
		</FORM>
		<iframe name="frame"></iframe>
	</body>
</html>
