<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset=UTF-8>
		<META name="Author" content="Pawel Strzebonski">
		<META name="Description" content="Rusty Smart-RSS Web: A machine learning enhanced RSS feed manager.">
		<title>Rusty Smart-RSS Web</title>
		<style media="screen">
			body\{
				background-color: lightcoral;
			}
		</style>
	</head>
	<body>
		<h1>
			Scored Words
		</h1>
		{# List all RSS items #}
		<table>
			<tr>
			<td><b>Word</b></td>
			<td><b>Score</b></td>
			</tr>
		{{for ws in wordscores}}
			<tr>
				<td>{ws.word}</td> 
				<td>{ws.score}</td>
			</tr>
		{{endfor}}
		</table>
	</body>
</html>

